
Binary_to_Text_Converter/Binary_to_Text/.vs/Binary_to_Text/v15/.suo
Binary_to_Text_Converter/Binary_to_Text/.vs/Binary_to_Text/v15/Browse.VC.db
Binary_to_Text_Converter/Binary_to_Text/.vs/Binary_to_Text/v15/Browse.VC.opendb
